html, body {
    height: 100%;
}

body
{
    font-family: 'Open Sans', sans-serif, Helvetica,Arial;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}

h1
{
    color: #003399;
    font-size:1.9em;
    /*margin: 30px 0 30px 0;*/
}

#subtitle
{
    font: 300 16px/1.7 'Open Sans', sans-serif;
    color:#3c3c3c;
}

#left {
     width:49.5%;
     float:left;
     /*border: 2px solid red;*/
}
#right {
     width:49.5%;
     float:left;
     /*border: 2px solid green;*/
}

.panel {
    text-align: left;
    padding: 0 10px 0 10px;
}

.panel img 
{
    max-width:100%;
    height:auto;
}

.display_container {
    margin-top:20px; 
    /*border: 2px solid grey;*/
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}
.form-radio:disabled {
     background-color: #f1f1f1;
}
.form-radio:disabled label {
      color:#ffa500;    
}
.tag_label {
    font-size:16px;
    font-weight: bold;
}
label
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #3c3c3c;
     cursor: pointer;
} 
.footer {
  
  flex-shrink: 0;
  width: 100%;
  font: 12px/1.7 'Open Sans', sans-serif;
  color: silver;
  text-align: center;
}
.footer a {
  color: #003399;
}
